In [8]:
import pandas as pd
import numpy as np

try:
    df = pd.read_csv('../data/hotel_bookings.csv')
    print("Data loaded successfully.")
except FileNotFoundError:
    print("Error: File not found. Please ensure 'hotel_bookings.csv' is in the '../data/' directory.")

Data loaded successfully.

In [9]:
print(f"Shape of dataset: {df.shape}")
print("\nColumns:", df.columns.tolist())
display(df.head())

Shape of dataset: (119390, 32)

Columns: ['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [11]:
duplicates = df.duplicated().sum()
print(f"Duplicate rows found: {duplicates}")

# Drop duplicates if any
if duplicates > 0:
    df = df.drop_duplicates()
    print(f"Duplicates removed. New shape: {df.shape}")

Duplicate rows found: 31994
Duplicates removed. New shape: (87396, 32)

In [12]:
# Unique Values in Categorical Columns
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\n------------------- {col} ----------------------")
    print(df[col].unique()[:10]) # Show first 10 unique values
    print(f"Total Unique: {df[col].nunique()}")

------------------- hotel ----------------------
['Resort Hotel' 'City Hotel']
Total Unique: 2

------------------- arrival_date_month ----------------------
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April']
Total Unique: 12

------------------- meal ----------------------
['BB' 'FB' 'HB' 'SC' 'Undefined']
Total Unique: 5

------------------- country ----------------------
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN']
Total Unique: 177

------------------- market_segment ----------------------
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
Total Unique: 8

------------------- distribution_channel ----------------------
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
Total Unique: 5

------------------- reserved_room_type ----------------------
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
Total Unique: 10

------------------- assigned_room_type ----------------------
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P']
Total Unique: 12

------------------- deposit_type ----------------------
['No Deposit' 'Refundable' 'Non Refund']
Total Unique: 3

------------------- customer_type ----------------------
['Transient' 'Contract' 'Transient-Party' 'Group']
Total Unique: 4

------------------- reservation_status ----------------------
['Check-Out' 'Canceled' 'No-Show']
Total Unique: 3

------------------- reservation_status_date ----------------------
['2015-07-01' '2015-07-02' '2015-07-03' '2015-05-06' '2015-04-22'
 '2015-06-23' '2015-07-05' '2015-07-06' '2015-07-07' '2015-07-08']
Total Unique: 926

In [13]:
df.to_csv('../data/hotel_bookings_clean.csv', index=False)
print("Cleaned dataset saved to '../data/hotel_bookings_clean.csv'")

Cleaned dataset saved to '../data/hotel_bookings_clean.csv'